<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <div class="output"></div>
    <script>
        fetch("/students")
            .then(resp => {
                if (resp.status == 200) {
                    resp.json()
                        .then(ret => {
                            if (ret.status == "OK")
                                document.querySelector("div.output").innerHTML = JSON.stringify(ret.data);
                        });
                }
            });
    </script>
</body>

</html>